<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title>Fuero</title>
	<link href="components/bootstrap-default/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen" />

	<meta name="viewport" content="width=device-width">
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<p class="lead">Rekrutacyjne zadanie testowe dla Fuero</p>
		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-2">
				<div class="jumbotron">
					<form role="form" method="POST">
						<div class="form-group{% if error != '' %} has-error{% endif %}">
							<label for="url">Podaj adres url{% if error != '' %} - {{ error }}{% endif %}</label>
							<input type="url" class="form-control" id="url" name="url" placeholder="Podaj adres url" value="https://raw.githubusercontent.com/adek23/fuero/master/composer.json">
						</div>
						<button type="submit" class="btn btn-primary">Wyślij</button>
					</form>
				</div>
			</div>
{% if json != '' %}
			<div class="col-md-7 col-md-offset-2">
				<div class="jumbotron">
					<h3>Wynikowy kod json:</h3>
					<pre>{{ json }}</pre>
				</div>
			</div>
{% endif %}
		</div>
	</div>
</body>
</html>